html {
	box-sizing: border-box;
}

*, *::before, *::after
box-sizing: inherit;

@font-face {
	font-family: 'PT Sans';
}


body {
	min-width: 320px;
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans", "Georgia", serif;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page-wrapper {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
}

.active {
	color: #766357;
}


.visually-hidden {
	border: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.logo {
	position: absolute;
	left: calc(50% - 69px);
	width: 138px;
	height: 70px;
}


.promo {
	min-height: 431px;
	background-position: center ;

}

.main-navigation,
.site-navigation {
	display: flex;
	justify-content: space-between;

}

.main-navigation {
	position: relative;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;

}
.site-navigation li {
	width: 239px;
  	text-align: left;
  	padding: 15px;
}


.site-navigation li:nth-child(3) {
	margin-left: auto;
	text-align: right;
}

.site-navigation li:nth-child(4) {
	text-align: right;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: #000000;
}


.site-navigation {

  padding: 0 57px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.site-navigation a:hover {
	color: #a3c7de;
}

.site-navigation a:active,
.site-navigation a:focus {
	color: #eeeeee;
}




.hotels-filter-infrastructure ul {
	list-style: none;
}

.hotels-filter-type ul {
	list-style: none;
}

.page-text {
	padding-top: 61px;
	padding-bottom: 54px;
}


.page-text h1 {
	width: 440px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;

}
.page-text p{
	margin: 0 auto;
	width: 490px;
	text-align: center;
}


.reasons {
	display: flex;
	color: #ffffff;
	background-color: #81b3d2;
}

.reverse {
	flex-direction: row-reverse;
}


.features {
 background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 25px;
}




.feature-item.hous {
		background: #ffffff url("../img/ico-2.png") no-repeat center 61px;
}

.feature-item.hous {
	margin-right: 133px;
	width: 252px;
	height: 84px;
	color: #333333;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
}



.feature-item .three {
	width: 208px;
height: 143px;
color: #333333;
font-family: "PT Sans";
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}

.feature-item .four {
width: 262px;
height: 142px;
color: #333333;
font-family: "PT Sans";
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}


.feature-item .five {
width: 246px;
height: 142px;
color: #333333;
font-family: "PT Sans";
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}



.feature-item.food {
	background: #ffffff url("../img/ico-1.png") no-repeat center 62px;
}

.feature-item.food {
	margin-right: 122px;
	width: 284px;
height: 79px;
color: #333333;
font-family: "PT Sans";
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}



.feature-item.souvenirs {
	background: #ffffff url("../img/ico-3.png") no-repeat center 57px;
}

.feature-item.souvenirs {
	margin-right: 63px;
	width: 273px;
height: 80px;
color: #333333;
font-family: "PT Sans";
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}

.feature-item.house p {
  max-width: 252px;
}

.feature-item.food p {
  max-width: 285px;
}

.feature-item.souvenirs p {
  max-width: 273px;
}


.feature-item h3 {
	margin-bottom: -129px;
}

.reasons-info  {
	padding-top: 48px;
	width: 400px;
	text-align: center;
}

.reasons-info h2 {
	margin: 0 auto;
	margin-bottom: 25px;
}

.reasons-info p {
	margin: 0 auto;
	margin-top: 22px;
	width: 282px;
}

.reasons-img {
	width: 800px;
	height: 256px;
	display: block;
}


.feature-item {
	padding-top: 163px;
  	text-align: center;
  	min-height: 143px;
  	width: 208px;
}

.feature-items {
	width: 400px;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 40px;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
}

.feature-items h3 {
	font-size: 21px;
	font-weight: 700;
	margin: 0;
}

.feature-items p {


}

.features-list {
	display: flex;
	justify-content: space-between;
	margin-left: 75px;
}

.features-gray {
	display: flex;
	background-color: #eeeeee;
	margin-bottom: 49px;

}

.features-gray .three {
	width: 400px;
	height: 256px;
}

.features-gray .four {
	width: 400px;
	height: 256px;
}

.features-gray .five {
	width: 400px;
	height: 256px;
}



.search {
  padding-top: 15px;
  text-align: center;
  position: relative;	
}

.search h3 {
	margin: 0 auto;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.search-text {
	padding-bottom: 52px;
  	padding: 0;
  	line-height: 24px;
}

.search-text:last-of-type {
  margin-bottom: 0;
}

.search-form {
	position: relative;
	  width: 568px;
	  margin:0 auto;
}

.search-form h3 {
	font-size: 21px;
	text-align: center;
	margin-top: 45px;
}

.search-form h3:hover {
	background: #604e43;
}

.search-form h3:active {
	color: #857871;
	background-color: #503e33;
}


.search-form-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	max-width: 568px;
	max-height: 395px;
  left: 0;
  z-index: 1;
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
    -webkit-transition: -webkit-transform .2s linear .2s;
    transition: -webkit-transform .2s linear .2s;
    -o-transition: transform .2s linear .2s;
    transition: transform .2s linear .2s;
    transition: transform .2s linear .2s, -webkit-transform .2s linear .2s;
}

.search-form-content.open {
	-webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
  -webkit-transition: -webkit-transform .2s linear .2s;
  transition: -webkit-transform .2s linear .2s;
  -o-transition: transform .2s linear .2s;
  transition: transform .2s linear .2s;
  transition: transform .2s linear .2s, -webkit-transform .2s linear .2s;
}

.search-form-title {
	display: block;
	width: 568px;
	padding: 30px 0;
	margin: 0 auto;
	margin-top: 43px;
	font-size: 21px;
	line-height: 26px;
	background-color: #766357;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	text-align: center;
}


.adult {
  margin-bottom: 54px;
  font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}

.adult:last-of-type label {
  padding-left: 48px;
}

.children {
  margin-bottom: 54px;
}

.children label {
	margin-right: auto;
}

.children:last-of-type label {
  padding-left: 48px;
}

.adults {
	position: relative;
	display: flex;
	flex-basis: 100%;
	margin: 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	justify-content: space-between;
	margin-bottom: 29px;
}

.adults label {
	padding: 6px 0;
}

.adults input:hover,
.children input:hover {
	background-color: #ebebeb;
}

.adults input:focus,
.adult input:focus,
.children input:focus {
	background-color: #ffffff;
	border: 2px solid #ebebeb;
	outline: none;
}
.children {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}

.adults input {
	padding-right: 45px;
	width: 346px;
	height: 38px;
	font: inherit;
	box-sizing: border-box;
	background-color: #f2f2f2;
	border: 0px solid #000000;
	text-transform: uppercase;
}


.search-form-calendar {
	position: absolute;
	top: 0;
	right: 0;
  left: 420px;
  fill: #cacaca;
  background-color: transparent;
}

.search-form-calendar:hover,
.search-form-calendar:focus {
  fill: #000000;
}

.search-form-calendar:active {
  fill: #81b3d2;
}

.half-width {
	flex-basis: 50%;
	display: flex;
	align-items: center;
}

.half-width label {
	margin-right: auto;
}

.half-width input {
	font: inherit;
	background-color: #f2f2f2;
	border: 0px solid #000000;
	width: 38px;
	height: 36px;
	text-align: center;
}

.search-form-minus {
	fill: #a9a9a9;
	background-color: #f2f2f2;
	padding-bottom: 17px;
}

.date-input {
	padding-left: 13px;
}

.icon-button {
  width: 40px;
  height: 38px;
  margin: 0;  
  padding: 0;  
  background-color: #f2f2f2;
  border: none; 
}	

.search-form-plus {
	fill: #a9a9a9;
	width: 38px;
height: 38px;
background-color: #f2f2f2;
}

.search-form-minus:hover path,
.search-form-minus:focus path,
.search-form-plus:hover path,
.search-form-plus:focus path {
  fill: #000000;
}

.search-form-minus:active path,
.search-form-plus:active path {
  fill: #81b3d2;
}
.footer-visit {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

input[type=submit] {
	padding: 16px 0;
	width: 459px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	font-size: 21px;
	color: #ffffff;
	line-height: 26px;
	text-transform: uppercase;
	background-color: #81b3d2;
	border: none;
}

input[type=submit]:hover,
input[type=submit]:focus {
	background-color: #669ec0;
}

input[type=submit]:active {
	color: #81b2ce;
}

.title {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

.infrastructure,
.hotels-filter-type {
	display: flex;
    flex-direction: column;
    padding: 27px 0;
    align-items: flex-start;
}

.infrastructure {
  margin-left: 72px;
  margin-top: -15px;
}

.infrastructure label, .hotels-filter-type label{
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.infrastructure label:last-of-type, .hotels-filter-type label:last-of-type {
  margin-bottom: 0;
}

.hotels-filter-type {
	width: 484px;
	margin-left: 126px;
	margin-top: -15px;
}

.sorting-list {
	display: flex;
}

.sorting-list a {
	font-size: 12px;
	line-height: 18px;
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover {
	color: #81b3d2;
}

.sorting-list a:active {
	color: #000000;
}

.sorting-list li:nth-child(1) {
	margin-right: 33px;
}

.sorting-list li:nth-child(2) {
	margin-right: 33px;
}

.info {
	display: flex;
	flex-wrap: wrap;
	max-width: 300px;
}

.info img {
  margin-right: 30px;
  margin-top: 3px;
  float: left;
}

.info h3,
.info p {
  padding: 0;
  margin: 0;
}

.info h3 {
  margin-bottom: 5px;
}
.info p {
  margin-bottom: 14px;
}



.searcg-result-item {
	padding-top: 30px;
	padding-left: 72px;
	padding-right: 30px;
}

.item-hotel-img-wrap img {
  display: block;
  margin-right: 30px;
}



.hotels-filter-form {
	background: transparent url("../img/filter-bg.jpg") no-repeat;
	display: flex;
	width: 100%;
	min-height: 217px;
	background-color: #3e719b;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	color: #fff;
}

.user {
	display: flex;
	flex-direction: row;
	padding-top: 30px;
	padding-bottom: 29px;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	list-style: none;
  	padding: 0;
  	margin: 0;
  	height: 86px;
}




.sort-list-direction {
  display: flex;
  width: 32px;
  justify-content: space-between;
  margin-left: 73px;
}

.earls {
	display: flex;
	margin-left: auto;
	margin-right: 73px;
}

.sorting {
	margin-left: 12px;
}

.sorting path {
  fill: #cacaca;
}

.sorting:hover path {
  fill: #231f20;
}

.sorting:active path, .sorting:focus path {
  fill: #81b3d2;
}

.sorting.active path {
  fill: #81b3d2;
}

.page-title {
	margin-left: 72px;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.page-sort {
	margin-right: 39px;
	margin-left: 48px;
	margin-top: 3px;
	width: 75px;
	height: 8px;
	color: #000000;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
}


.price {
width: 48px;
height: 10px;
color: #81b3d2;
font-family: "PT Sans";
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase
}

.type {
	font-size: 12px;
	line-height: 18px;
	color: #cacaca;
	text-transform: uppercase;
}

.rating-block {
	margin-left: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating-block p {
  margin: 0;
  padding: 0;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  color: #666666;
  padding: 4px;
  text-align: center;
}

.hotel-rating {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 52px;
}

.hotel-rating .star {
  color: #81b3d2;
  margin-left: 5.5px;
  margin-top: 1px;
  width: 18px;
  height: 17px;
  background: url("../img/star.svg") no-repeat;
}


.item-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	text-align: left;
}

.item-text {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  flex-basis: 100%;
}



.item-text a:hover {
	color: #81b3d2;
}

.item-text a:active {
	color: #cacaca;
}

.search-result-item {
	border-bottom: 1px solid #e5e5e5;
  	padding-bottom: 30px;
  	padding-left: 72px;
  	padding-top: 26px;
  	padding-right: 70px;
  	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
}

.left-col {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 5px;
}



.right-col {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 5px;
}




.item-btn-details {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	padding: 3px 17px;
    font-weight: bold;
    margin-right: 6px;
    background-color: #81b3d2;
    margin-top: 18px;
}

.left-col a:hover {
	background: #669ec0;
}

.left-col a:active {
	color: rgba(255, 255, 255, 0.3);  
  background-color: #5496bd;
}

.item-btn-book {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	background: #766357;
	 padding: 3px 17px;
  font-weight: bold;
  color: #ffffff;
}

.right-col a:hover {
	background: #604e43;

}

.right-col a:active {
	color: #766860;
}

.map {
	height: 593px;
}

.map iframe {
	width: 1200px;
	height: 595px;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	border: none;
}

.main-footer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 132px;
	padding-right: 101px;
	padding-top: 38px;
	padding-bottom: 38px;
	background-color: rgba(255,255,255,0.9);
}

.map + .main-footer {
  position: relative;
  z-index: 1;
  margin-top: -120px;
}

.footer-social {
	margin-right: -20px;
}

.footer-social ul {
	display: flex;
	flex-direction: row;
}

.footer-social li:nth-child(1) {
	margin-right: 6px;
}

.footer-social li:nth-child(2) {
	margin-right: 6px;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	fill: #88b6d1;
}

.footer-visit {
	margin: 0;
	font-size: 21px;
	font-weight: 700;
	margin-top: 10px;
}

.footer-copyright {
	display: flex;
	margin: 0;
}

.footer-copyright-text {
	font-weight: normal;
	margin-right: 8px;
	margin-top: 5px;
}

.footer-copyright-link:hover path {
	fill: #81b3d2;
}

.footer-copyright-link:active path {
	fill: #bdbbbc;
}

.filter-range {
	padding: 27px 0;
	width: 318px;
}

.filter-range-title {
	margin-bottom: 9px;
    font-weight: bold;
}

.price-controls {
	position: relative;
  height: 34px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: content-box;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: 14px;
  line-height: 21px;
  background: none;
  border: none;
}

.range-controls {
  width: 318px;
  color: #ffffff;
  text-transform: uppercase;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}


.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

input[type="checkbox"] + .checkbox-indicator {
  width: 27px;
  height: 23px;
  display: block;
  background: url("../img/checkbox-off.png") no-repeat;
  margin-right: 13px;
}

input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.png");
}

input[type="checkbox"]:disabled + .checkbox-indicator {
  background-image: url("../img/checkbox-off-3.png");
}

input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  background-image: url("../img/checkbox-on-2.png");
}