html {
	box-sizing: border-box;
}

*, *::before, *::after
	box-sizing: inherit;

@font-face {
	font-family: 'PT Sans';
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000;
  text-transform: uppercase;	
 }

 a {
  text-decoration: none;
}

.visually-hidden {
    border: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.main-navigation {
	display: flex;
}
.main-navigation li {
  	font-size: 14px;
  	line-height: 26px;
  	font-weight: 700;
	text-transform: uppercase;
}

.site-navigation {
  	list-style: none;;
}


.site-navigation a {
  color: #000;
}

.site-navigation a:focus,
.site-navigation a:hover {
	color: #a3c7de;
}

.site-navigation a:active {
	color: #b2b2b2;
}

.hotels-filter-infrastructure ul {
	list-style: none;
}

.hotels-filter-type ul {
	list-style: none;
}

.page-text h1 {
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
}
.page-text p{
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	width: auto;
	margin-bottom: 50px;
}

.reasons {
	background-color: #a3c7de;
	text-transform: uppercase;
	min-height: 256px;
}

.feature-item-hous {
	text-align: center;
	background: transparent url("../img/ico-2.png") no-repeat;
}

.feature-item-hous h2 {
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
}

.feature-item-hous p {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.feature-item-Food h2 {
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
}

.feature-item-Food p {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.feature-item-Souvenirs h2 {
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
}

.feature-item-Souvenirs p {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.feature-item-Food {
	text-align: center;
	background: transparent url("../img/ico-1.png") no-repeat;
	text-transform: uppercase;
}

.feature-item-Souvenirs {
	text-align: center;
	background: transparent url("../img/ico-3.png") no-repeat;
}

.features-list {
	list-style: none;
}

.reasons-info  {
	color: #ffffff;
}

.reasons-info h2 {
	font-size: 21px;
	line-height: 21px;
}

.reasons-info p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.feature-reverse-item {
	text-align: center;
	text-transform: uppercase;
}

.features-reverse-list {
	list-style: none;
}

.features-gray {
	background-color: #eeeeee;
}

.feature-reverse-item h3 {
	font-size: 21px;
	line-height: 21px;
}

.feature-reverse-item p {
	font-size: 14px;
	line-height: 21px;
}

.search h3 {
	font-size: 30px;
	line-height: 36px;
	text-align: center;

}

.search {
	text-align: center;
	text-transform: uppercase;
}
.search-text {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.search-form h3 {
	font-size: 21px;
	text-align: center;
	color: #ffffff;
}

.search-form h3:hover {
	background: #604e43;
}

.search-form h3:active {
	color: #857871;
}


.search-form-title {
	font-size: 21px;
	line-height: 26px;
	background-color: #766357;
}

.adults {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}

.adults input:hover,
.children input:hover {
	background-color: #ebebeb;
}

.adults input:focus,
.children input:focus {
	background-color: #ffffff;
	border: 2px solid #ebebeb;
}
.children {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}

.adults input {
	  font: inherit;
  	  background-color: #f2f2f2;
  	  border: 0px solid #000000;
}

.half-width input {
	  font: inherit;
  	  background-color: #f2f2f2;
  	  border: 0px solid #000000;
}

.footer-visit {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
}

input[type=submit] {
	font: inherit;
	text-align: center;
	color: #ffffff;

	vertical-align: middle;
  	text-transform: uppercase;
  	background: #81b3d2;
  	border: none;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

input[type=submit]:hover {
	background: #669ec0;
}

input[type=submit]:active {
	color: #81b2ce;
}

.title {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

.hotels-filter-infrastructure li {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
} 

.hotels-filter-type li {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
} 

.hotels-filter-form {
	color: #ffffff;
}
.sorting-list {
	list-style: none;
	display: flex;
}

.info {
	display: flex;
	border-bottom: 2px solid #e5e5e5;

}

.item-hotel-img-wrap {
	margin: 0 auto;
}
.search-result-list {
	list-style: none;
	position: relative;
	margin: 0 auto;
}

.hotels-filter-form {
	background: transparent url("../img/filter-bg.jpg") no-repeat;
	display: flex;
	width: 100%;
	min-height: 217px;
	background-color: #3e719b;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	color: #fff;
}

.user {
	display: flex;
}

.page-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
}

.page-sort {
	font-size: 12px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}


.price {
	font-size: 12px;
	line-height: 18px;
	color: #81b3d2;
	text-transform: uppercase;

}

.type {
	font-size: 12px;
	line-height: 18px;
	color: #cacaca;
	text-transform: uppercase;
}

.rating {
	font-size: 12px;
	line-height: 18px;
	color: #cacaca;
	text-transform: uppercase;
}

.sorting-list a:hover {
	color: #81b3d2;
}

.sorting-list a:active {
	color: #000000;
}

.item-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 7px;
	text-align: center;
}



.item-text a:hover {
	color: #81b3d2;
}

.item-text a:active {
	color: #cacaca;
}

.left-col {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
}

.left-col p{
	margin-left: 5px;
}

.right-col {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
}

.rigt-col p {
	position: absolute;
	top: 33px;
	left: 116px;
}

.item-btn-details {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
  	background: #81b3d2;
  	text-align: center;
}

.left-col a:hover {
	background: #669ec0;
}

.left-col a:active {
	color: #5496bd;
}

.item-btn-book {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
  	background: #766357;
}

.right-col a:hover {
	background: #604e43;
		
}

.right-col a:active {
	color: #766860;
}



.footer-social ul {
	list-style: none;
}

.footer-visit {
	font-size: 21px;
	font-weight: 700;
}

.page .page-header {
	margin-bottom: 56px;
	background-color: #ffffff;
}

.promo {
	margin-bottom: 65px;
}

